/* src/pages/Favorites.css */
.favorites-container-f {
    margin-top: 50px;
    padding: 20px;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #e94560;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-container p {
    font-size: 18px;
    color: #666;
}
/*=======================================*/
.favorites-table-f {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.favorites-table-f th, .favorites-table-f td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.favorites-table-f th {
    background-color: #f2f2f2;
}

.favorites-table-f input[type="checkbox"] {
    outline: none;
    box-shadow: none;
    width: 25px; /* Tăng kích thước checkbox */
    height: 25px; /* Tăng kích thước checkbox */
    margin: 0 auto; /* Căn giữa checkbox theo chiều ngang */
    display: block; /* Đảm bảo checkbox là block để căn giữa */
}
/*=======================================*/
.favorites-image-f {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/*=======================================*/
.favorites-actions-f {
    text-align: right;
    margin-top: 20px;
}
/*=======================================*/
.add-to-cart-button-f {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
/*=======================================*/
.remove-button-f {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
/*=======================================*/
.clear-favorites-button-f {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.clear-favorites-button-f:hover {
    background-color: #c0392b;
}
/*=======================================*/