/* For footer */
.footer-fs {
    background-color: #336633;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    font-family: Arial, sans-serif;
}
/*============================*/
.footer-content-fs h3 {
    margin: 10px 0;
}

.footer-content-fs p {
    font-size: 14px;
    margin: 0 0 10px;
}
/*============================*/
.social-icons-fs a {
    color: #f4f4f4;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons-fs a:hover {
    color: #ddd;
}
/*============================*/
.footer-end-fs {
    margin-top: 15px;
    font-size: 12px;
}
/*============================*/
  